<!DOCTYPE html>
<html ng-app="coggno">
<head>
  <title>AngularIreader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body ng-controller="CoggnoDocumentCtrl">
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <div >
        <ul>
          <li ng-repeat="doc in documents">
            <a href="#/documents/{{doc.id}}.json">{{doc.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="span10">
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
