<!DOCTYPE html>
<html ng-app="coggno">
<head>
  <title>AngularIreader</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style type="text/css">
    #galleria{height:267px}
  </style>
</head>
<body ng-controller="CoggnoDocumentCtrl">
  <div class="container-fluid">
  <div class="row-fluid">
    <div class="span4">
      <div >
        <ul>
          <li ng-repeat="doc in documents">
            <a href="#/documents/{{doc.id}}">{{doc.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="span10">
      <%= yield %>
    </div>
  </div>
</div>
<script type="text/javascript">
$('#galleria').galleria({
// width: 200,
height: 267
});
</script>
</body>
</html>
